.projectTable {
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projectTable::-webkit-scrollbar {
  display: none;
}

.inputForm {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputHeader {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.input {
  max-width: 100%;
  margin: 16px 0px;
  font-size: 24px;
  padding: 8px;
  border: none;
  border-bottom: 2px solid lightgray;
  text-align: center;
  transition: all 0.5s linear;
}

.input::placeholder {
  color: lightgray;
}

.input:focus-visible {
  outline: none;
  border-bottom: 2px solid black;
}

.projectItem {
  height: 80px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectNameContainer {
  font-size: 24px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  gap: 4px;
}
