.projectTable {
  height: 400px;
  width: 1000px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px gray;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projectTable::-webkit-scrollbar {
  display: none;
}

.inputForm {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputHeader {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  animation: fade-in 1s linear, fade-up 1s linear;
}

.input {
  max-width: 100%;
  margin: 16px 0px;
  font-size: 24px;
  padding: 8px;
  border: none;
  border-bottom: 2px solid lightgray;
  text-align: center;
  transition: all 0.5s linear;
  animation: fade-in 1s linear;
}

.input::placeholder {
  color: lightgray;
}

.input:focus-visible {
  outline: none;
  border-bottom: 2px solid black;
}

.fadeIn {
  animation: fadeIn 1s linear;
}

.fadeUp {
  animation: fadeUp 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(24px);
  }
}

@media screen and (max-width: 1000px), screen and (max-height: 400px) {
  .projectTable {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
