.button {
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.fadeIn {
  animation: fade-in 1s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}
