.toolbar {
  min-height: 40px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 8px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.currencyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}
