.toastOverlay {
  min-width: fit-content;
  background-color: royalblue;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 8px gray;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  text-align: center;
  white-space: nowrap;
  color: white;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  z-index: 3;
}

.drop {
  animation-name: drop;
}

.rise {
  animation-name: rise;
}

@keyframes drop {
  0% {
    top: -48px;
  }

  100% {
    top: 48px;
  }
}

@keyframes rise {
  0% {
    top: 48px;
  }

  100% {
    top: -48px;
  }
}
