.navigationCarouselContainer {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationCarousel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.carouselComponentContainer {
  height: 400px;
  width: 1000px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px gray;
  position: relative;
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carouselComponentContainer::-webkit-scrollbar {
  display: none;
}

.navigationButtonsContainer {
  display: flex;
  gap: 16px;
}

.navigationButton {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 8px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navigationButton:active {
  box-shadow: 0 0 2px black;
}

@media screen and (max-width: 1000px), screen and (max-height: 520px) {
  .navigationCarousel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 0;
  }

  .carouselComponentContainer {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    flex: 1;
  }

  .navigationButtonsContainer {
    width: 100%;
    gap: 0;
  }

  .navigationButton {
    flex: 1;
    background-color: lightgray;
    border-radius: 0;
    box-shadow: none;
  }

  .navigationButton:active {
    box-shadow: none;
  }
}
