.projectTable {
  height: 100%;
  width: 100%;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projectTable::-webkit-scrollbar {
  display: none;
}
