.projectTable {
  height: 100%;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projectTable::-webkit-scrollbar {
  display: none;
}

.inputForm {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputHeader {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.input {
  max-width: 100%;
  margin: 16px 0px;
  font-size: 24px;
  padding: 8px;
  border: none;
  border-bottom: 2px solid lightgray;
  text-align: center;
  transition: all 0.5s linear;
}

.input::placeholder {
  color: lightgray;
}

.input:focus-visible {
  outline: none;
  border-bottom: 2px solid black;
}

.projectItem {
  height: fit-content;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 8px gray;
  margin: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectItemButton {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.infoContainer {
  padding: 8px 8px 8px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.projectName {
  padding-bottom: 4px;
  border-bottom: 1px solid black;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  overflow-wrap: anywhere;
}

.nameInput {
  background-color: lavender;
  padding: 4px;
  outline: 0;
  border: none;
  border-radius: 8px;
  flex: 1;
}

.timeInfo {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.icon {
  margin-right: 8px;
}

.totalTime {
  display: flex;
  align-items: center;
}

.pencil {
  cursor: pointer;
}

.timeEditor {
  display: flex;
  align-items: center;
}

.timeInput {
  width: 36px;
  background-color: lavender;
  padding: 0;
  outline: 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
}

.timeInput:focus-visible {
  outline: none;
}

.timeInput:hover {
  font-weight: bold;
}

.timeInput::-webkit-outer-spin-button,
.timeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timeInput[type="number"] {
  -moz-appearance: textfield;
}

.timer {
  display: flex;
  align-items: center;
}

.buttonContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.addProjectFormButton {
  display: flex;
  gap: 12px;
}

.addProjectButton {
  max-height: 40px;
  width: max-content;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 8px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  cursor: pointer;
  user-select: none;
  transition: box-shadow 0.2s;
}

.addProjectButton:active {
  box-shadow: 0 0 2px black;
}

.closeButton {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
}
