.toolbar {
  min-height: 40px;
  width: 100%;
  background-color: white;
  padding: 8px;
  box-shadow: 0 0 8px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  z-index: 1;
}

.infoContainers {
  display: flex;
  gap: 16px;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.settingsContainer {
  display: flex;
  gap: 4px;
}
