.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.modalBackdrop {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalContainer {
  height: fit-content;
  width: fit-content;
  background-color: white;
  border-radius: 8px;
  z-index: 2;
}
