.projectTimer {
  width: 100%;
  padding: 8px;
  margin: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.timerContainer {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timerImage {
  height: 100%;
}

.ticker {
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.timerInfoContainer {
  height: fit-content;
  width: fit-content;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  gap: 4px;
}

.cycles,
.status {
  text-align: center;
}

.message {
  background-color: rgba(255, 0, 0, 0.4);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 8px black;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.startProjectTimerButton {
  display: flex;
  gap: 12px;
}

.resetTimerButton {
  display: flex;
  gap: 12px;
}
