.carouselContainer {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.componentContainer {
  height: 400px;
  width: 1000px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px gray;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.2s;
}

.directionButton {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 8px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.directionButton:active {
  box-shadow: 0 0 2px black;
}

@media screen and (max-width: 1100px), screen and (max-height: 500px) {
  .carousel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .componentContainer {
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    flex: 1;
  }

  .directionButton {
    height: 100%;
    width: 40px;
    background-color: lightgray;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
  }

  .directionButton:active {
    background-color: white;
    box-shadow: none;
  }
}
