.inputForm {
  width: 100%;
  padding: 8px 40px;
  margin: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.inputHeader {
  font-weight: bold;
  text-align: center;
}

.input {
  max-width: 100%;
  margin: 16px 0px;
  padding: 8px;
  border: none;
  border-bottom: 2px solid lightgray;
  border-radius: 0;
  text-align: center;
}

.input::placeholder {
  color: lightgray;
}

.input:focus-visible {
  outline: none;
  border-bottom: 2px solid black;
}

.closeButton {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
}
